@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Karla:wght@300;400;700&display=swap');
//Paleta de Colores
$naranja:#FF5C35;
$titulos:'Allison', cursive;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
}
//?--------Animaciones--------
@keyframes LineaMenu{
    from{
        background-color: none;
        width: 0%;
    }
    to{
        background-color: $naranja;
        width: 100%;
    }
}
//!-------------------------------Header------------------------
header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/tatto_header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        height: 10%;
        position:fixed;
        z-index: +1;
        #name{
            color:white;
            font-size: 2rem;
        }
        #menu{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                color:white;
                text-decoration: none;
                font-size: 1.8em;
                font-weight: 400;
                &:not(&:last-of-type){
                    margin-right: 1.5rem;
                }
                &:hover{
                    transition: all .5s;
                    color: $naranja;
                    &:hover::after{
                        margin-top: .2rem;
                        content:" ";
                        width: 100%;
                        height: 2px;
                        animation-name: LineaMenu;
                        animation-duration: 1s;
                        animation-iteration-count:initial;
                        animation-fill-mode:forwards;
                        
                    }
                }
            }
        }
    }
    #title{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            color: white;
            font-family: 'Allison', cursive;
            font-size: 10rem;
            line-height: 14rem;
            &:first-of-type{
                font-size: 20rem;
            }
            &:last-of-type{
                font-size: 15rem;
            }
        }
    }
}
//!-----------------------------------Sobre mi----------------------------
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #about-me{
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        #text{
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            #about-me-title{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 40%;
                h1{
                    color:$naranja;
                    font-family: 'Allison', cursive;
                    font-size: 12em;
                    line-height: 8rem;
                    &:first-of-type{
                        margin-top: 15%;
                    }
            }
            }
            #about-me-text{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 60%;
                p{
                    color:lightgrey;
                    max-width: 70%;
                    font-size: 2em;
                    font-weight: 300;
                    &:last-of-type{
                        margin-bottom: 8%;
                    }
                }
            }
        }
        #img{
            width: 40%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
//!------------------------------Trabajo-------------------------------------
main{
    #work{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: black;
        #fila{
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .card{
                width: 25%;
                height: 80%;
                border:2px solid blue;
            }
        }
    }
}
//!----------------------------------Clothes---------------------------------
main{
    #clothes{
        width: 100%;
        height: 100vh;
        background-color:black;
    }
}
//!---------------------------------Testimonios------------------------------
main{
    #testimonial{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/testimonial.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        font-size: 1.5rem;
        div{
            width: 100%;
            height: 100%;
            backdrop-filter: blur(4px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #testimonial-title{
                height: 30%;
                h1{
                    font-family: $titulos;
                    font-size: 10em;
                    color:$naranja;
                }
            }
            #testimonial-content{
                height: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                #card{
                    width: 60%;
                    height: 60%;
                    background-color:rgba(0,0,0,.7);
                    border-radius: 1.2em;
                    blockquote{
                        color:white;
                        width: 60%;
                        display:none;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        p{
                            font-size: 1.3em;
                        }
                        a{
                            text-decoration: none;
                            color:white;
                            background-color: $naranja;
                            padding: .5em;
                            font-weight: 400;
                            font-size: 1.1em;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
//!----------------------------Responsive Desing------------------------------
/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/
@media screen and (min-width:1600px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}
    html{
        font-size: 12px;
    }
}

@media screen and (min-width:1200px) and(max-width:1600px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}
}

/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media screen and (max-width:1199px) and (min-width:768px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}
   
}

/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media screen and (max-width:767px) and (min-width:480px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}

}


/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media screen and (max-width:479px){ 

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}

}


